<table class="dataTable" id="{{ include.ID }}">
    <thead>
    <tr>
        <th>Hidden date</th>
        <th>Date</th>
        <th>Category</th>
        <th>Title</th>
        <th>Description</th>
        <th>Venue</th>
        <th>Time</th>
    </tr>
</thead>
<tbody>
{% for event in site.events %}
    
    <tr>
        <td>{{ event.when | date: %s }}</td>
        <td>{{ event.when | date: '%d %b %Y'}}</td>
        <td>{{ event.category }}</td>
        <td><a href="{{ event.url }}index.html">{{ event.title }}</a></td>
        <td>{{ event.description }}</td>
        <td>{{ event.venue }}</td>
        <td>{% if event.allday == false %}{{ event.starttime }} - {{ event.finishtime }}{% else %}All day{% endif %}</td>
    </tr>


{% endfor %}
</tbody>
</table>