<!-- Start footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="footer-left">
            <p>Designed by <a href="http://www.markups.io/">MarkUps.io</a></p>
            <p>BCC is part of <a href="http://www.emcf.net/">East Midlands Christian Fellowships</a></p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="footer-right">
            <!--<a href="index.html"><i class="fa fa-facebook"></i></a>-->
            <a href="https://twitter.com/belpercchurch"><i class="fa fa-twitter"></i></a>
            
            
  
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End footer -->