<!-- Included Javascript files -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="{{ site.themeurl }}/js/bootstrap.js"></script>
  <!-- Slick Slider -->
  <script type="text/javascript" src="{{ site.themeurl }}/js/slick.js"></script>    
  <!-- counter -->
  <script src="{{ site.themeurl }}/js/waypoints.js"></script>
  <script src="{{ site.themeurl }}/js/jquery.counterup.js"></script>
  <!-- Wow animation -->
  <script type="text/javascript" src="{{ site.themeurl }}/js/wow.js"></script> 
  <!-- progress bar   -->
  <script type="text/javascript" src="{{ site.themeurl }}/js/bootstrap-progressbar.js"></script>  
  
 
  <!-- Custom js -->
  <script type="text/javascript" src="{{ site.themeurl }}/js/custom.js"></script>