<!-- Start subscribe us -->
  
<!-- Remove subscribe form 
<section id="subscribe">
    <div class="subscribe-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="subscribe-area">
              <h2>Subscribe to news updates</h2>
              <form action="//belpercommunitychurch.us3.list-manage.com/subscribe/post?u=aa1a08598669e90d406e822bd&amp;id=07a34e4cab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscrib-form">
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address...">
                <div class="mc-field-group input-group">
                    <strong>Subscriptions </strong>
                    <ul><li><input type="checkbox" value="1" name="group[13217][1]" id="mce-group[13217]-13217-0" checked><label for="mce-group[13217]-13217-0">News and announcements</label></li>
                </ul>
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                
<!--
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aa1a08598669e90d406e822bd_07a34e4cab" tabindex="-1" value=""></div>
                <div class="clear">
                  
                  </div>
                <button class="subscribe-btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

-->
  <!-- End subscribe us -->
