{% capture html %}
<ul class="menu">
{% for node in site.pages %}
  {% assign node_parts = node.url | split: '/' %}
  {% assign node_depth = node_parts | size %}
  {% if node_depth <= 2 %}
    {% if node.order %}
            <li{% if page.url == node.url %} class="current"{% endif %}>
                <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
    {% endif %}
  {% endif %}
{% endfor %}
 </ul>
 {% endcapture %}
{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}