<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="grid">
      <div class="col_4"> <!-- Sidebar -->
        {% include side-menu.html %}
      </div> <!-- End of Sidebar -->
      <div class="col_8"> <!-- Content -->
        {{ content }}
      </div> <!-- End of content -->

    <div class="page-content">
      <div class="wrapper">
        
      </div>
    </div>

    {% include footer.html %}
    </div> <!-- End of grid -->
  </body>

</html>
