<!DOCTYPE html>
<html>

  {% include head.html %}

  
  
<body>




   {% include header.html %}
   {% include page_header.html %}

   <!-- Start content section  -->
  <section id="content">
 
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-area">
            <h1 class="title"><span class="fa fa-calendar"></span> {{ page.title }}</h1>
            <div class="content">
                <p>{{ page.description }}</p>
                <p>Venue: {{ page.venue }}</p>
                <table class="dataTable" id="event">
                  <thead>
                  <tr>
                      <th>Date</th>
                      <th>Time</th>
                  </tr>
              </thead>
              <tbody>

                {% for date in page.dates %}
                  
                  <tr>
                      <td>{{ date.date | date: '%d %B %Y'}}</td>                
                  
                      <td>{{ date.start }} - {{ date.finish }}</td>
                  </tr>
              {% endfor %}
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- End content section  -->




  {% include footer.html %}


  
    {% include javascripts.html %}
  </body>
  
  
</html>