<!DOCTYPE html>
<html>

  {% include head.html %}

  
  
<body>




   {% include header.html %}
   {% include page_header.html %}

   <!-- Start content section  -->
  <section id="content">
 
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-area">
            
            <div class="content">
              <div class="row">
                <div class="col-md-8">
                  <div class="blog-archive-left">
                  
                    <article class="blog-news-single">
                      
                      {{ content }}
                    </article>
                  </div>
                </div>
                <div class="col-md-4">
                  <aside class="blog-side-bar">
                  <div class="sidebar-widget">
                    <h4 class="widget-title">Event details</h4>
                    <p>Venue: {{ page.venue }}</p>
                    <p>Address: {{ page.address }}, {{ page.postcode }}</p>
                    <p>When: {{ page.when | date: "%A, %-d %B %Y" }} from {{ page.starttime }} - {{ page.finishtime }}</p>
                  </div>
                  <aside class="blog-side-bar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- End content section  -->
{% include subscribe.html %}




  {% include footer.html %}


  
    {% include javascripts.html %}
  </body>
  
  
</html>