<!DOCTYPE html>
<html>

  {% include head.html %}

  
  
<body>




   {% include header.html %}
   {% include page_header.html %}

   <!-- Start content section  -->
  <section id="content">
 
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-area">
            
            <div class="content">
              <div class="row">
                <div class="col-md-8">
                  {{ content }}
                </div>
                <div class="col-md-4">

                <p>Venue: {{ page.venue }}</p>
                <p>Address: {{ page.address }}, {{ page.postcode }}</p>
                <p>When: {{ page.date | date: "%-d %B %Y" }} from {{ page.start }} - {{ page.finish }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- End content section  -->




  {% include footer.html %}


  
    {% include javascripts.html %}
  </body>
  
  
</html>