<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  

   {% include header.html %}
  




  <!-- Start slider -->
  <section id="slider">
    <div class="main-slider">
  
  {% for slider in site.sliders %}
      <div class="single-slide">
        <img src="{{ slider.background-image }}" alt="{{ slider.background-alt }}">
        <div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="slide-article">
                  <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">{{ slider.heading }}</h1>
                  <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">{{ slider.description }}</p>
                  <a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="{{ slider.link-url }}">{{ slider.link-text}}</a>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="slider-img wow fadeInUp">
                  <img src="{{ slider.foreground-image }}" alt="{{ slider.foreground-alt }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  {% endfor %}
        
    </div>
  </section>
  <!-- End slider -->

<!-- Start latest news -->
  <section id="latest-news">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Latest News</h2>
            <span class="line"></span>
            <p><a href="/news" class="read-more-btn dark">View all news items</a></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="latest-news-content">
            <div class="row">
              {% include posts.html lim = 3 %}
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End latest news -->



  <!-- Start Service -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Upcoming events</h2>
            <span class="line"></span>
            <p><a href="/calendar" class="read-more-btn dark">View full calendar</a></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="service-content">
            <div class="row">
              {% include upcoming-events.html %}
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service -->

  

  

  

  

  {% include subscribe.html %}


  <!-- End content section  -->




  {% include footer.html %}


    {% include javascripts.html %}
  </body>

</html>
