<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="grid">

      <div class="col_8"> <!-- Content -->
        <h2>{{ page.title }}</h2>
        <ul class="post-list">
          {% for post in site.posts %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
          {% endfor %}
        </ul>
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div> <!-- End of content -->
      <div class="col_4"> <!-- Sidebar -->
        {% include side-menu.html %}
      </div> <!-- End of Sidebar -->
    
    <div class="col_12">
      {% include footer.html %}
    </div>
    </div> <!-- End of grid -->
  </body>

</html>



  

  